:root {
    --bcgn: #121010;
    --txt: white;
    --link: #039be5;
    --line: orangered;
    --gray: #80808018;
    --navg: #80808030;
    --nava: orange;
    background-color: var(--bcgn);
    color: var(--txt);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    transition: background-color 1s ease;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.content {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.primarycontent {
    max-width: 70%;
    padding-right: 15px;
    flex-grow: 1;
    position: relative;
    min-height: min-content;
    max-height: none;
}

.secondarycontent {
    flex: 2;
    width: 30%
}

div {
    scroll-margin-top: -5px;
    padding: 0.01px 0;
}

#top {
    scroll-margin-top: 0;
    width: 100%;
    flex-shrink: 0;
    height: 50px;
    padding-bottom: 1px;
}

a {
    color: var(--link);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

h1 {
    margin: 0;
    background: none;
    border-radius: 0em;
    font-size: 4.2rem;
}

h2 {
    font-size: 3.56rem;
    margin: 0.83em 0 0.5em 0;
}

h3 {
    font-size: 2.92rem;
    margin: 1em 0 0.5em 0;
}

h4 {
    font-size: 2.28rem;
    margin: 1.333em 0 0.5em 0;
}

h5 {
    margin-bottom: 0px;
    background: none;
    border-radius: 0em;
    font-size: 1.64rem;
    margin: 1.5em 0 0.5em 0;
}

h2::after,
h3::after,
h4::after {
    display: block;
    align-self: center;
    content: "";
    border-top: 1px solid var(--line);
    width: 65vw;
    margin: 0 0.35rem;
}

.quick {
    border-radius: 0.35em;
    background-color: var(--gray);
    padding: 0.5rem;
}

table tr th {
    text-align: center;
}

.tlta {
    text-align: left !important;
}

table,
th,
td {
    border: 1px solid var(--gray);
    border-collapse: collapse;
}

table {
    margin-top: 0.5rem;
    width: 100%;
}

th,
td {
    padding: 15px 5px;
}

table td {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 0.25em;
    margin-left: 0.5em;
}

li::before {
    content: '';
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    background-color: var(--txt);
    margin-right: 0.75em;
}


/* SIDENAV ELEMENTS */

nav.side {
    display: block;
    padding: 25px 15px 0 15px;
}

nav.side.fixed {
    top: 0px;
    position: fixed;
    margin-top: 0;
    width: calc(30% - 45px);
}


/* All lists */

nav.side ul {
    margin: 0;
    padding: 0;
}


/*outer list*/

nav.side>div>ul {
    border: 2px solid var(--navg);
    border-radius: 2px;
}


/* Nested lists*/

nav.side>div>ul ul {
    padding-left: 2em;
    margin: 0;
    border: 0;
    overflow: hidden;
}

nav.side li {
    font-size: 1.25em;
    margin: 0;
    display: flex;
}

nav.side a {
    color: var(--txt);
    border-left: 0;
    margin-left: 3px;
    transition: color 0.75s ease;
    transition: font-size 0.25s ease;
}


/* Nested list links that are not being hovered or on current scroll position*/

nav.side>div>ul div:not(:is(.open, .current)) ul * {
    color: var(--bcgn);
    font-size: 0;
}

nav.side>div>ul div:not(:is(.open, .current)) :is(ul, ul div.dropbtn) {
    height: 0;
}


/* active links */

nav.side ul li a:is(.current, :hover) {
    border-left: 3px solid var(--nava);
    margin-left: 0;
}

nav.side a:hover {
    color: var(--nava);
}


/* Fake bold with a border*/

nav.side li.title {
    font-size: 150%;
    border-bottom: 1.5px solid var(--gray);
}


/* Containers for dropdown*/

nav.side span {
    flex-grow: 1;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 0;
}


/*Links with a dropdown*/

nav.side span>a {
    padding: 0.25em 0 0.30em 0.35em;
    flex-shrink: 0;
    min-width: 50%;
}


/* CLickable div for dropdown */

.dropbtn {
    flex-grow: 1;
    max-width: 50%;
}


/* dropdown arrow */

.dropbtn i {
    border: solid var(--txt);
    width: 0;
    border-width: 0 3px 3px 0;
    padding: 0.25em;
    position: relative;
    float: right;
    right: 0.75em;
    top: 0.5em;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: transform 0.2s linear;
}


/* Rotate dropdown when open */

nav.side div:is(.open, .current) div.dropbtn>i {
    transform: rotate(45deg);
}


/* Remove pseudo element from list elements */

nav.side li::before {
    content: none;
}


/* class for link to top of page  */

.nav-top-link a {
    border-bottom: 1.5px solid var(--gray);
    flex-grow: 1;
}

.nav-top-link .current {
    font-size: 0;
    color: var(--bcgn);
    border-bottom-width: 0;
}